body {
  font-size: 110%;
  font-family: Trebuchet MS;
  text-align: center;
  margin: 1rem 35rem 50rem 35rem;
  padding: 0rem 1rem 0rem 1rem;
}
.img {
  
}

ul {
  list-style-type: none;
  padding: 0rem;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: line-through;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  color: blue;
  text-decoration: underline;
}

div {

}

h2, h3 {
  text-align: left;
}

.projects {
  margin: 0rem auto;
}